extends ./templates/default.jade
block title
  title Eulogies
block content
  section.row
    div.small-11.medium-10.large-8.small-centered.text-center.columns
      p.eulogy__intro.
        Below are some messages from family and friends from around the world. If you
        would to like to comment a message please use contact form and details
        in the footer.
    .small-11.small-centered.columns
      div.eulogy
        div.eulogy__inner
          include:markdown-it ../../assets/elsie.md
    .small-11.small-centered.columns
      div.eulogy
        div.eulogy__inner
          include:markdown-it ../../assets/david.md
    .small-11.small-centered.columns
      div.eulogy
        div.eulogy__inner
          include:markdown-it ../../assets/kim.md
    .small-11.small-centered.columns
      div.eulogy
        div.eulogy__inner
          include:markdown-it ../../assets/pam.md
