extends ./templates/default.jade
block title
  title Gallery
block content
 section.gallery.row
    div.small-12.columns
      - each pic in imageData
          div.gallery-item
            a(href="#{pic.filePath}")
              img(class="thumbnail lazy" data-original="#{pic.filePath}")
