doctype html
html(lang="en")
  head
    block title
      title default
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,300|Anton' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/photostack.css")
    link(rel="stylesheet" href="css/app.css")
    script(src="js/modernizr.min.js")
