header
  section.small-4.large-5.columns.header__side.header__side--left
    nav
      ul.menu.align-right
        li
          a(href="gallery.html") gallery
  section.small-4.large-2.columns
    a(href="index.html")
      include ../../../assets/colin.svg
  section.small-4.large-5.columns.header__side.header__side--right
    nav
      ul.menu.align-left
        li
          a(href="eulogies.html") eulogies & messages
